/* Tranquil Tabs */
:root {
  --mint: #8CCF9A;
  --vine: #387A46;
}

body {
    position: fixed;
    background-color: #101212;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9998;

    display: flex;
    align-items: center;
    justify-content: center;
}

#block_Body {
    flex-direction: column;
    width: 33%;

    /* Flexbox to control child layout */
    display: flex;
    align-items: center;
    justify-content: center;

    justify-content: space-between;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
}

#group_name {
    text-align: center;
    margin: 5px;
    color: var(--mint);
    font-size: 70px;
    font-weight: 500;
}

#unlock_button {
    background-color: var(--mint);
    color: var(--vine);
    cursor:pointer;
    width: 97%;
    height: 20%;
    border: none;
    box-shadow: 6px, 10px, green;
    flex-direction: flex-end;
    margin-top: 20px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#open_text {
    color: var(--mint);
    font-size: 2vh;
    font-weight: 500;
}

/* Used for general text across the extension */
.text {
    font-family: Roboto, 'Open Sans', sans-serif;
}



/* 
*   Button
*/
#unlock_button {
    filter: drop-shadow(1px 1px black);
    transition: transform .25s, filter .25s;
    cursor: pointer;
    border: none;
    font-size: 3vh;
}

#unlock_button:hover {
    filter: drop-shadow(3px 3px black);
    transform: translate(-3px, -3px);
}

#unlock_button:active {
    filter: drop-shadow(2px 2px black);
    transform: translate(-2px, -2px);
}