/* 
*   Colors
*/
:root {
  --mint: #8CCF9A;
  --sage: #4D5D53;
  --ivory: #FAF9F6;
  --grey: #D9D9D9;
}

/*
*   Containers
*/
.sageContainer {
    flex-direction: row;
    background-color: var(--sage);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.mintContainer {
    flex-direction: row;
    background-color: var(--mint);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.ivoryContainer {
    flex-direction: row;
    background-color: var(--ivory);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

