/*
*   Page Wide
*/
.bar {
    width: auto;
    height: 1.5vh;
    background-color: var(--ivory);
    border-radius: 5px;

    box-sizing: border-box;
}

body {
    overflow: hidden;
}

input {
    border-radius: 5px;
}



/*
*   Group Page
*/
.header {
    display:flex;
    flex-direction: row;
    height: calc(10vh);
    box-sizing: content-box;
    /* padding: 5px; */
}

#extension_page_background {
    background-color: var(--grey);
    width: min(700pt, 100vw);
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: center;
    position: fixed;
    top: 0px;


    display:flex;
    flex-direction: column;
    overflow: hidden;
}

#groups_title {
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    color: var(--ivory);
}

#new_group_button {
    overflow: hidden;
    align-self: center;
    font-size: 10vh;
    color: var(--ivory);
    line-height: 50%; 
}

#extension_settings_button {
    display: flex;
    height: 100%;
    align-self: center;
    margin-left: auto;
    border-radius: 30px;

    box-sizing: border-box;
}

#group_list {
    /* height: 100vh; */
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;

    margin-top: 5px;
}

#group_list::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

#group_list::-webkit-scrollbar-thumb {
    background-color: var(--ivory);
    border-radius: 20px;
    width: 5px;
}

#group_list::-webkit-scrollbar-track {
    background-color: var(--sage);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}



/*
*   Group
*/
.groupNameDays {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.streak {
    font-size: min(50px, 6vh);
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1;

    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.groupName {
    margin: 0px;
    color: var(--ivory);
    font-size: min(40px, 6vh);
    height: 50%;
    overflow: hidden;
}

.days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;

    height: 50%;
}

.day {
    aspect-ratio: 1/1;
    height: min(100%, 5vw);
    max-width: 100%;
    font-size: calc(1vh + 1vw);
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 50%;
}

.activeDay {
    background-color: var(--mint);
}

.innactiveDay {
    background-color: var(--grey);
}

.groupToolsTop {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.groupToolsBottom {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.groupTools {
    display: flex;
    flex-direction: column;

    height: 100%;
    min-width: 25%;
}

.time {
    height: auto;
    flex-grow: 2;
    font-size: min(2vh, 30px);
}

.opens {
    flex-grow: 2;
}


.upDown {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/2;
}

.arrowImg {
    height: 100%;
    aspect-ratio: 1/1;
}



.group {
    height: min(150px, 25vh);
    margin-right: 5px;
    box-sizing: content-box;
}



/*
*   Group Edit/New Group
*/

#group_settings_backdrop {
    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 4;
    background-color: rgba(16, 18, 18, .8);
    position: fixed;

    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

}

#group_settings_background_outer {
    z-index: 5;
    display: flex;
    color: var(--ivory);
}

#group_edit_header {
    display: flex;
    flex-direction: row;

    margin: 5px;
}

#edit_body {
    display: flex;
    flex-direction: row;
}

#edit_left {
    display: flex;
    flex-direction: column;

    margin: 5px;
}

#edit_right {
    display:flex;
    flex-direction: column;

    margin:5px;
}


#settings_group_name {
    align-self: center;
    line-height: 0px; 
    margin: 5px;
}

#group_settings_error_message {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 2.5vh;
    color: #ff6969;
    margin: 0px;
    align-self: center;
}

#group_save_button {
    margin-left: auto;
    align-items: center;
    justify-self: center;
    aspect-ratio: 1/1;
}

#group_delete_button {
    align-items: center;
    justify-self: center;
}

#new_url_button {
    margin: 0px;
    margin-left: 5px;
}

#days_of_the_week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weekday_label {
    text-align: center;
}

.weekday {
    border-radius: 25%;
}

#websites {
    padding-left: 5%;
}