/* Page Wide */
:root {
  --mint: #8CCF9A;
  --sage: #4D5D53;
  --ivory: #FAF9F6;
  --grey: #D9D9D9;
}

.header {
    display:flex;
    flex-direction: row;
}

.bar {
    width: auto;
    height: 10px;
    background-color: var(--ivory);
    border-radius: 5px;

    /* margin: 20px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    filter: drop-shadow(1px 1px black);
    transition: transform .25s, filter .25s;
    cursor: pointer;
    border: none;
}

button:hover {
    filter: drop-shadow(3px 3px black);
    transform: translate(-3px, -3px);
}

button:active {
    filter: drop-shadow(2px 2px black);
    transform: translate(-2px, -2px);
}


/* Containers */
.sageContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--sage);
    border-radius: 20px;
    padding: 5px;

    margin-top: 5px;
}

.mintContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--mint);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.ivoryContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--ivory);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}



/* Groups Page Specific */
.header {
    height: calc(10vh);
}

#extension_page_background {
    background-color: var(--grey);
    width: min(700pt, 100vw);
    height: 100vh;
    padding: 10px;
    margin-top: -10px;
    justify-self: center;

    display:flex;
    flex-direction: column;
    overflow: hidden;
}

#groups_title {
    display: flex;
    border-radius: 30px;
    align-self: center;
    justify-self: center;
    font-size: 6vh;
    color: var(--ivory);
}

#new_group_button {
    align-self: center;
    font-size: 10vh;
    color: var(--ivory);
    line-height: 50%; 
}

#extension_settings_button {
    display: flex;
    height: 10vh;
    align-self: center;
    margin-left: auto;
    border-radius: 30px;
}

/* h1 {
    font-size: xx-large;
    color: var(--ivory);
} */

#group_list {
    /* height: 100vh; */
    overflow-y: scroll;
    max-height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}


/* Group CSS */
.groupDaysDiv {
    display: flex;
    flex-direction: column;
}

.editIcon {
    width :60px;
    height: auto;
}

.streak {
    font-size: 40px;
    aspect-ratio: 1/1;
    text-align: center;
    /* align-self: center; */
}

.groupName {
    margin: 0px;
    color: var(--ivory);
    font-size: 40px;
}


.upDown {
    display: flex;
    flex-direction: column;
    flex-shrink: .5;
    aspect-ratio: 1/2;
}

.arrowImg {
    width: 100%;
}



.group {
    height: 150px;
    margin-right: 5px;
}


/* Group Edit Page */
#group_settings_background_outer {
    display: flex;
    /* position: absolute; */
    align-self: center;
    justify-items: center;
    width: min(600px, 100vh);
}