/*
*   Page Wide
*/
.bar {
    width: auto;
    height: 1.5vh;
    background-color: var(--ivory);
    border-radius: 5px;

    box-sizing: border-box;
}

body {
    overflow: hidden;
}

input {
    border-radius: 5px;
}

html * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* 
*   Button
*/
button {
    filter: drop-shadow(1px 1px black);
    transition: transform .25s, filter .25s;
    cursor: pointer;
    border: none;
}

button:hover {
    filter: drop-shadow(3px 3px black);
    transform: translate(-3px, -3px);
}

button:active {
    filter: drop-shadow(2px 2px black);
    transform: translate(-2px, -2px);
}



/*
*   Group Page
*/
.header {
    display: grid;
    grid-template: 10vh / 2fr 1fr 5fr;
    box-sizing: content-box;
    padding: 5px;
}

#extension_page_background {
    display: grid;
    grid-template: auto auto auto / 1fr;
    background-color: var(--grey);
    width: min(700pt, 100vw);
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: center;
    position: fixed;
    top: 0px;



    flex-direction: column;
    overflow: hidden;
}

#groups_title {
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    color: var(--ivory);
    box-sizing: border-box;
    margin: 0px;
}

#new_group_button {
    overflow: hidden;
    align-self: center;
    font-size: 10vh;
    color: var(--ivory);
    line-height: 50%; 
    height: 100%;
    border-radius: 35px;
    aspect-ratio: 1/1;
}

#extension_settings_button {
    display: flex;
    height: 100%;
    align-self: center;
    margin-left: auto;
    border-radius: 30px;

    box-sizing: border-box;
}

#group_list {
    /* height: 100vh; */
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;

    margin-top: 5px;
    padding-bottom: 5px;
}

#group_list::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

#group_list::-webkit-scrollbar-thumb {
    background-color: var(--ivory);
    border-radius: 20px;
    width: 5px;
}

#group_list::-webkit-scrollbar-track {
    background-color: var(--sage);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}





/*
*   Group
*/
.group {
    display: grid;
    grid-template-columns: 1fr 50% 1fr .5fr;
    grid-template-rows: 50% 50%;
    height: min(150px, 25vh);
    margin-right: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.streak {
    display: flex;
    grid-area: 1 / 1 / span 2 / span 1;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1;
    font-size: clamp(.5rem, 4vw, 3.5rem);

    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


/* Group Name and Days */
.groupNameDays {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.groupTitle {
    grid-area: 1 / 2;
    display: flex;
    flex-direction: column;

    align-self: flex-end;
}

.groupName {
    width: 100% ;
    margin: 0px;
    color: var(--ivory);
    font-size: min(40px, 6vh);
    height: 50%;
    overflow: hidden;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.days {
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    flex-direction: row;
    align-self: center;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    gap: 5px;
}

.day {
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    margin: 0px;
    width: 100%;

    border-radius: 20px;
}

.activeDay {
    background-color: var(--mint);
}

.innactiveDay {
    background-color: var(--grey);
}


/* Group Tools */
.time {
    display: flex;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    font-size: clamp(.5rem, 2vw, 1.5rem);
}

.groupToolsBottom {
    display: flex;
    justify-content: space-between;
}

/* .editButton {
    width: 100%;
} */

.editIcon {
    height: 100%;
    aspect-ratio: 1/1;
}

/* .editButton {
    max-height: 65px;
} */

.opens {
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    font-size: clamp(.5rem, 2vh, 3rem);
}

/* Priority Tools */
.priorityUp {
    grid-area: 1 / 4;
}

.priorityDown {
    grid-area: 2 / 4;
}

.arrowImg {
    height: 100%;
    max-width: min(55px, 100%);
    min-width: 20px;
}







/*
*   Group Edit/New Group
*/

#group_settings_backdrop {
    display: none;

    justify-content: center;
    align-items: center;

    z-index: 4;
    background-color: rgba(16, 18, 18, .8);
    position: fixed;

    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

}

#group_settings_background_outer {
    z-index: 5;
    display: flex;
    color: var(--ivory);
}

#group_edit_header {
    display: flex;
    flex-direction: row;

    margin: 5px;
}

#edit_body {
    display: grid;
    grid-template: 1fr 1fr 1fr / 50% 50%;
    gap: 5px;
}

#settings_group_name {
    align-self: center;
    line-height: 0px; 
    margin: 5px;
}

#group_settings_error_message {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 2.5vh;
    color: #ff6969;
    margin: 0px;
    align-self: center;
}

#group_save_button {
    margin-left: auto;
    align-items: center;
    justify-self: center;
    aspect-ratio: 1/1;
}

#group_delete_button {
    align-items: center;
    justify-self: center;
}

.groupField {
    display: flex;
    flex-direction: column;
}

#new_url_button {
    margin: 0px;
    margin-left: 5px;
}

#days_of_the_week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weekday_label {
    text-align: center;
}

.weekday {
    border-radius: 25%;
}

#websites {
    padding-left: 5%;
}