/* Tranquil Tabs */

#blockPageBackground {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.685);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9998;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

#requestUnblock {
    x: 50vw;
    y: 50vh;
}

.button {
    border-radius: 40px;
    height: 30px;
    box-sizing: border-box;
    background-color: #272727;
    color: #f1f1f1;
    font-family: "Roboto", "Arial", sans-serif;
    border: none;
    margin: auto;;
    cursor:pointer;
    font-size: 14px;
    font-weight: 500; 
}

.button:hover {
    background-color: #3f3f3f;
}

.button:active {
    background-color: #535353;
}